/******* GLOBAL ******/
.row {
	max-width: 40em;
}
header {
	font-size: 20px;
	margin: 20px 0 10px 0;
}
/***** TOP NAV *****/
.top-nav, .top-nav a {
	margin-top: 10px;
	color: #8f8f8f;
}
.top-nav a:hover, .top-nav a:focus {
	color: #6f6f6f;
}
.top-nav dt {
  float: left;
  margin-right: 1.3rem;
  font-weight: normal;
}

/***** POST PAGE *****/
h1 {
  font-size: 1rem;
  line-height: 1.2;
}
.home h2 {
	margin-bottom: 0px;
}
a {
  color: #8f8f8f;
  font-weight: bold;
}
a:hover, a:focus {
  color: #6f6f6f;  
  text-decoration: underline;
}
.date {
	color: #8f8f8f;
}

/******* ARCHIVES ******/
.archives .content a {
	font-weight: normal;
}
.archives .content a:hover {
	font-weight: normal;
	text-decoration: underline;
}
.archives .content p {
	line-height: 0.8rem;
}
.archives .title {
	font-weight: bold;
	margin-left: 10px;
}

/****** DASHBOARD ******/
.dashboard .button {
	padding: 7px 20px;
	margin: 10px 2px;
	background-color: #6f6f6f;
	width: 180px;
}
.dashboard .row.login {
	display: block;
}
.dashboard .row.admin {
	display: none;
}
section.logout {
	margin-bottom: 20px;
	margin-top: -12px;
}
/****** NEW POST ******/
textarea#content, .editpost section.postlist {
	width: 100%!important;
	max-width: 500px;
	min-height: 250px;
	font-family: Arial, sans-serif;
}
.dashboard .posts input[type=text]{
	width: 100%;
	max-width: 500px;
}
/****** EDIT POST ******/
.dashboard .panel {
	display: none;
}
.dashboard .posts header {
	cursor: pointer;
}
.dashboard .editpost p {
	margin: 0px;
}
.editpost section.postlist {
	height: 120px;
	overflow-y: scroll;
	background: #fff;
	border: 1px solid #cecece;
	min-height: 120px;
}
.editpost section.editform {
	display: none;
}